.cell {
    color: #dddddd;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.tableHead {
    border-bottom: 1px solid var(--background-color-very-bright);
    background-color: var(--background-color-darker);
}

.tableHeadCell {
    border-left: 1px solid var(--background-color-very-bright);
    padding-left: 4px;
    font-weight: bold;
}

.tableRow {
    background-color: var(--background-color-brighter);
    border-bottom: 1px solid var(--background-color-very-bright);

}

.removeButton {
    cursor: pointer;
    width: 16px;
    margin-top: 1px;
    margin-left: 4px;
    height: 16px;
    text-align: center;
    font-size: 10px;
    color: var(--foreground-color);
}

.updateButton {
    cursor: pointer;
    width: 16px;
    margin-top: 1px;
    margin-left: 4px;
    height: 16px;
    text-align: center;
    font-size: 10px;
    color: #55ff77;
}

.table {
    border: 1px solid var(--background-color-very-bright);
    overflow-y: scroll;
    display: inline-grid;
    position: relative;
    height: 100%;
    width: calc(100% - 5px);
}

.tableRowCell {
    border-left: 1px solid var(--background-color-very-bright);
}

.uninstalledMod {
    background-color: rgba(255, 0, 0, 0.3);
}

.installedMod {
    background-color: rgba(0, 255, 0, 0.3);
}

.outOfDateMod {
    background-color: rgba(255, 255, 0, 0.3);
}