/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~@fortawesome/fontawesome-free/css/all.css';

#root {
	height: calc(100vh - 10px);
}

body {
	color: white;
	height: 100vh;
	background-color: #303030;
	color: #dddddd;
	font-family: Arial, Helvetica, Helvetica Neue, serif;
	overflow-y: hidden;
	padding: 0px;
	margin: 0px;
	position: relative;

	--background-color: #303030;
    --background-color-darker: #202020;
    --background-color-brighter: #404040;
    --background-color-very-dark: #101010;
    --background-color-very-bright: #555555;
    --foreground-color: #DDDDDD;
    --foreground-accent: rgb(219, 255, 153);
    --theme-color-extreme: #35ff46;
    --theme-color-brighter: #3fce4b;
    --theme-color: #43b14c;
    --theme-darker: #318038;
    --theme-very-dark: #225a26;

    --foreground-disabled: #BBBBBB;
    --background-disabled: #707070;
}

h2 {
	margin: 0;
	font-size: 2.25rem;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #fff;
}

p {
	font-size: 24px;
}

li {
	list-style: none;
}

a {
	color: white;
	opacity: 0.75;
	text-decoration: none;
}

a:hover {
	opacity: 1;
	text-decoration: none;
	cursor: pointer;
}

.flexible-modal {
	position: absolute;
	z-index: 100;
	border: 1px solid #ccc;
	background: var(--background-color) !important;
}

.flexible-modal-mask {
	position: fixed;
	height: 100%;
	background: rgba(35, 35, 35, 0.8) !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.flexible-modal-resizer {
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: se-resize;
	margin: 5px;
	border-bottom: solid 2px #333;
	border-right: solid 2px #333;
}

.flexible-modal-drag-area {
	background: rgba(0, 0, 0, 0.4) !important;
	height: 30px !important;
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
	cursor: move !important;
}

.flexible-modal-drag-area-right {
	display: none;
}

.flexible-modal-drag-area-left {
	display: none;
}